/**
 * @file
 * Page Styling
 */
#page * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#columns {
  margin-bottom: 25px;
}

#branding {
  float: left;
  padding: 0;
}

#logo {
  float: left;
  padding: 10px 15px 10px 0;
}
#logo img {
  vertical-align: bottom;
}

/*#name-and-slogan {
  float: left;
  margin-top: 3em;
}*/
#site-name a {
  font-family: steelfish;
  color: #414042;
  font-weight: 400;
  letter-spacing: 0;
}
#site-name a:link, #site-name a:visited {
  text-decoration: none;
}
#site-name a:hover, #site-name a:focus {
  text-decoration: underline;
}

.region-header {
  float: right;
}

ul.links {
  margin: 0;
  padding: 0;
}
ul.links.inline {
  display: block;
}
ul.links li {
  display: inline;
  list-style: none;
  padding: 0 10px 0 0;
}

#aggregator .feed-source .feed-icon {
  display: inline;
  float: none;
  margin-right: 10px;
}

.feed-details dt,
.feed-details dd {
  display: inline;
  margin: 0;
}

.search-results {
  margin: 0;
}

.block-inner,
.pane-inner,
div.messages,
#branding,
#primary-nav,
#secondary-nav,
#breadcrumb,
#main-content,
#attribution,
.at-panel .rounded-corner {
  margin-left: 10px;
  margin-right: 10px;
}

.page-panels #content {
  margin-left: -10px;
  margin-right: -10px;
}

.region-sidebar-first {
  border-top: 6px solid #FFC344;
  border-right: 1px solid #FFC344;
  border-left: 1px solid #FFC344;
  border-bottom: 1px solid #FFC344;
  background-color: #FFF6DC;
}

#footer-wrapper {
  background-color: #000000;
  border-top: 1px solid #4A4E50;
  color: #FFFFFF;
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
}

#footer-panels-wrapper {
  background-color: #3B3B3C;
  margin-bottom: 0;
  color: #fff;
  padding: 25px 0 10px;
}
#footer-panels-wrapper div.block-content.content {
  margin-left: 120px;
}
#footer-panels-wrapper div.block-content.content a {
  color: #fff;
}
#footer-panels-wrapper div.block-content.content a:hover {
  text-decoration: underline;
}
#footer-panels-wrapper div.block-content.content a img {
  margin-left: 10px;
  margin-top: 5px;
}
#footer-panels-wrapper div.block-content.content p {
  padding-left: .5em;
}
#footer-panels-wrapper div.block-content.content ul li {
  background-color: #464E55;
  text-align: center;
  margin: 5px;
  height: 40px;
  width: 40px;
  display: inline;
  float: left;
  font-weight: bold;
  position: relative;
}
#footer-panels-wrapper div.block-content.content ul li.active {
  background-color: #FFC344;
}
#footer-panels-wrapper div.block-content.content ul li.active a {
  color: #000;
}
#footer-panels-wrapper div.block-content.content ul li a {
  display: block;
  padding-top: 12px;
}
#footer-panels-wrapper div.block-content.content ul li a:hover {
  text-decoration: none;
}
#footer-panels-wrapper h2.block-title {
  color: #fff;
  float: left;
  font-weight: bold;
  font-size: 1.6em;
  text-transform: uppercase;
}

div.messages {
  margin: 1.5em 0;
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

.node-unpublished p.unpublished,
.comment-unpublished p.unpublished {
  color: #fff;
  color: rgba(239, 170, 170, 0.4);
  font-family: Impact,"Arial Narrow",Helvetica,sans-serif;
  font-size: 75px;
  font-weight: bold;
  height: 0;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
}

.lt-ie8 .node-unpublished > *,
.lt-ie8 .comment-unpublished > * {
  position: relative;
}

.dev-query {
  background: #eee;
  padding: 30px;
}

h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #000;
}

.tooltip {
  display: none;
  background: transparent url(../images/black_arrow.png);
  font-size: 12px;
  height: 70px;
  width: 160px;
  padding: 25px;
  color: #fff;
}

/************************* CALENDAR STYLES *************************/
.view-events-calendar {
  padding: 4px;
  background: #f7f7f7;
  border: 1px solid #cccccc;
}
.view-events-calendar * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.view-events-calendar .date-nav-wrapper {
  margin-top: 0;
}
.view-events-calendar .date-nav-wrapper .date-nav {
  margin-bottom: 0;
  padding: 0;
  margin-bottom: 3px;
}
.view-events-calendar .pager .date-prev,
.view-events-calendar .pager .date-next {
  background: transparent;
  border: none;
  top: 5px;
}
.view-events-calendar .pager .date-prev {
  right: auto;
  left: 0;
}
.view-events-calendar .item-list ul.pager .date-prev a,
.view-events-calendar .item-list ul.pager .date-next a {
  background-color: transparent;
  border: none;
  outline: none;
}
.view-events-calendar .calendar-calendar div.day {
  width: auto;
}
.view-events-calendar .calendar-calendar tr td.today,
.view-events-calendar .calendar-calendar tr.odd td.today,
.view-events-calendar .calendar-calendar tr.even td.today {
  background-color: #fff3cd;
}
.view-events-calendar .calendar-calendar .month-view .full tr td.single-day.today,
.view-events-calendar .calendar-calendar .month-view .full td.date-box.today {
  border-color: #1f69a9;
}
.view-events-calendar tbody {
  border: 1px solid #cccccc;
}
.view-events-calendar tr.odd,
.view-events-calendar tr.info,
.view-events-calendar tr:nth-child(2n+1) {
  background-color: #f0f0f0;
}
.view-events-calendar .calendar-calendar table.mini td.empty {
  border-color: #cccccc;
}
.view-events-calendar .calendar-calendar th.days {
  border: none;
}
.view-events-calendar .calendar-calendar td {
  border: 1px solid #cccccc;
  padding: 7px 3px 3px;
  text-align: center;
}
.view-events-calendar .date-heading {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #dcdcdc));
  background-image: -webkit-linear-gradient(#fafafa, #dcdcdc);
  background-image: -moz-linear-gradient(#fafafa, #dcdcdc);
  background-image: -o-linear-gradient(#fafafa, #dcdcdc);
  background-image: -ms-linear-gradient(#fafafa, #dcdcdc);
  background-image: linear-gradient(#fafafa, #dcdcdc);
  padding: 10px;
  outline: 1px solid #ddd;
  border-top: 2px solid #fff;
  border-bottom: 1px solid #aaa;
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: .75em;
  font-weight: bold;
  color: #555;
  text-shadow: white 0px 1px 0;
  padding: 2px;
  margin-top: 0 !important;
  margin-bottom: 4px;
}
.view-events-calendar .item-list ul.pager {
  margin: 0;
  padding: 0;
}
.view-events-calendar .item-list ul.pager .date-prev a,
.view-events-calendar .item-list ul.pager .date-next a {
  text-indent: -9999px;
  font-size: 1em;
  line-height: 0;
  background-image: url("images/slider-controls.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  font-size: 0;
}
.view-events-calendar .item-list ul.pager .date-prev a:hover, .view-events-calendar .item-list ul.pager .date-prev a:focus, .view-events-calendar .item-list ul.pager .date-prev a:active,
.view-events-calendar .item-list ul.pager .date-next a:hover,
.view-events-calendar .item-list ul.pager .date-next a:focus,
.view-events-calendar .item-list ul.pager .date-next a:active {
  background-color: #7ab4e7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2), 0px, 0px, 5px, inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2), 0px, 0px, 5px, inset;
  box-shadow: rgba(0, 0, 0, 0.2), 0px, 0px, 5px, inset;
}
.view-events-calendar .item-list ul.pager .date-prev a {
  background-position: 0 0;
}
.view-events-calendar .item-list ul.pager .date-next a {
  background-position: 0 -20px;
}
