@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url(http://themes.googleusercontent.com/static/fonts/oswald/v7/bH7276GfdCjMjApa_dkG6fY6323mHUZFJMgTvxaG2iE.eot);
  src: local("Oswald Bold"), local("Oswald-Bold"), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/bH7276GfdCjMjApa_dkG6fY6323mHUZFJMgTvxaG2iE.eot) format("embedded-opentype"), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/bH7276GfdCjMjApa_dkG6T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

/**
 * @file
 * Page Styling
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\0000327}}
#page * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\0000338}}
#columns {
  margin-bottom: 25px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\0000364}}
#branding {
  float: left;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\0000373}}
#logo {
  float: left;
  padding: 10px 15px 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\0000377}}
#logo img {
  vertical-align: bottom;
}

/*#name-and-slogan {
  float: left;
  margin-top: 3em;
}*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\0000391}}
#site-name a {
  font-family: steelfish;
  color: #414042;
  font-weight: 400;
  letter-spacing: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003100}}
#site-name a:link, #site-name a:visited {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003105}}
#site-name a:hover, #site-name a:focus {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003115}}
.region-header {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003136}}
ul.links {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003140}}
ul.links.inline {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003144}}
ul.links li {
  display: inline;
  list-style: none;
  padding: 0 10px 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003153}}
#aggregator .feed-source .feed-icon {
  display: inline;
  float: none;
  margin-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003160}}
.feed-details dt,
.feed-details dd {
  display: inline;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003167}}
.search-results {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003199}}
.block-inner,
.pane-inner,
div.messages,
#branding,
#primary-nav,
#secondary-nav,
#breadcrumb,
#main-content,
#attribution,
.at-panel .rounded-corner {
  margin-left: 10px;
  margin-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003205}}
.page-panels #content {
  margin-left: -10px;
  margin-right: -10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003240}}
.region-sidebar-first {
  border-top: 6px solid #FFC344;
  border-right: 1px solid #FFC344;
  border-left: 1px solid #FFC344;
  border-bottom: 1px solid #FFC344;
  background-color: #FFF6DC;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003325}}
#footer-wrapper {
  background-color: #000000;
  border-top: 1px solid #4A4E50;
  color: #FFFFFF;
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003335}}
#footer-panels-wrapper {
  background-color: #3B3B3C;
  margin-bottom: 0;
  color: #fff;
  padding: 25px 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003340}}
#footer-panels-wrapper div.block-content.content {
  margin-left: 120px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003342}}
#footer-panels-wrapper div.block-content.content a {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003344}}
#footer-panels-wrapper div.block-content.content a:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003347}}
#footer-panels-wrapper div.block-content.content a img {
  margin-left: 10px;
  margin-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003352}}
#footer-panels-wrapper div.block-content.content p {
  padding-left: .5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003355}}
#footer-panels-wrapper div.block-content.content ul li {
  background-color: #464E55;
  text-align: center;
  margin: 5px;
  height: 40px;
  width: 40px;
  display: inline;
  float: left;
  font-weight: bold;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003365}}
#footer-panels-wrapper div.block-content.content ul li.active {
  background-color: #FFC344;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003367}}
#footer-panels-wrapper div.block-content.content ul li.active a {
  color: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003371}}
#footer-panels-wrapper div.block-content.content ul li a {
  display: block;
  padding-top: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003374}}
#footer-panels-wrapper div.block-content.content ul li a:hover {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003380}}
#footer-panels-wrapper h2.block-title {
  color: #fff;
  float: left;
  font-weight: bold;
  font-size: 1.6em;
  text-transform: uppercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003395}}
div.messages {
  margin: 1.5em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003398}}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003437}}
.node-unpublished p.unpublished,
.comment-unpublished p.unpublished {
  color: #fff;
  color: rgba(239, 170, 170, 0.4);
  font-family: Impact,"Arial Narrow",Helvetica,sans-serif;
  font-size: 75px;
  font-weight: bold;
  height: 0;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003458}}
.lt-ie8 .node-unpublished > *,
.lt-ie8 .comment-unpublished > * {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003468}}
.dev-query {
  background: #eee;
  padding: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003476}}
h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #000;
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003484}}
.tooltip {
  display: none;
  background: transparent url(../images/black_arrow.png);
  font-size: 12px;
  height: 70px;
  width: 160px;
  padding: 25px;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003494}}
.flexslider {
  background: #EBEBEB;
  /* Old browsers */
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebeb), color-stop(100%, #d1d1d1));
  background: -webkit-linear-gradient(top, #ebebeb, #d1d1d1);
  background: -moz-linear-gradient(top, #ebebeb, #d1d1d1);
  background: -o-linear-gradient(top, #ebebeb, #d1d1d1);
  background: linear-gradient(top, #ebebeb, #d1d1d1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003497}}
.flexslider h2 {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 100;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003503}}
.flexslider h2 a {
  color: #086782;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003506}}
.flexslider h2 a:hover {
  color: #3B3B3C;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003511}}
.flexslider .views-field-body {
  padding-left: 10px;
  padding-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003517}}
div.flex-pauseplay {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/plower\/Sites\/dru-multisite\/sites\/all\/themes\/ovpr_common\/sass\/global\.pages\.scss}line{font-family:\00003521}}
div.flex-pauseplay .flex-play {
  cursor: pointer;
}
