/**
 * @file
 * Navigation Styling
 */
a {
  color: #086782;
  text-decoration: none;
}
a:hover, a:focus {
  color: #8B9084;
}

.nav {
  clear: both;
  margin: 0;
}
.nav ul.menu {
  margin: 0;
}
.nav li, .nav .menu li {
  display: inline;
  float: left;
  list-style: none;
}
.nav li a, .nav .menu li a {
  display: block;
  white-space: nowrap;
  padding: 0 10px;
}
.nav ul {
  margin: 0;
  padding: 0;
}
.nav ul.menu {
  margin: 0;
  padding: 0;
}
.nav ul.menu li {
  margin: 0;
  padding: 0;
}
.nav .block {
  margin-bottom: 0;
}

ul.sf-menu {
  margin-bottom: 0;
}
ul.sf-menu a {
  border-left: 0;
  border-top: 0;
  padding: 0 10px;
  text-decoration: none;
  height: 2.5em;
  line-height: 2.5em;
}
ul.sf-menu li:hover, ul.sf-menu li.sfHover {
  outline: 0;
}
ul.sf-menu a:focus, ul.sf-menu a:hover, ul.sf-menu a:active {
  outline: 0;
}

.block-superfish ul {
  margin: 0 !important;
  padding: 0 !important;
}
.block-superfish ul ul {
  margin: 0 !important;
  padding: 0 !important;
}
.block-superfish ul ul ul {
  margin: 0 !important;
  padding: 0 !important;
}
.block-superfish ul ul ul ul {
  margin: 0 !important;
  padding: 0 !important;
}
.block-superfish li {
  margin: 0 !important;
  padding: 0 !important;
}

.sf-vertical {
  width: 100%;
}
.sf-vertical li {
  width: 100%;
}
.sf-vertical li:hover ul, .sf-vertical li.sfHover ul {
  left: 100%;
  /* match ul width */
  top: 0;
  margin: 0;
  padding: 0;
}
.sf-vertical li a {
  padding: 0 10px;
}

.sf-navbar {
  padding-bottom: 0 !important;
}

.sf-menu.sf-style-default a {
  padding: 0 10px;
}

.block-content ul.menu {
  padding: 0;
  margin: 4px 0;
}
.block-content ul.menu ul {
  margin-left: 15px;
}

ul.menu {
  list-style-position: inside;
}
.region-header ul.menu {
  text-transform: uppercase;
}
ul.menu ul {
  margin-left: 15px;
  padding-left: 25px;
}
ul.menu ul ul {
  margin-left: 15px;
}
ul.menu ul ul ul {
  margin-left: 15px;
}
ul.menu li {
  margin: 2px 0;
}
.region-header ul.menu li {
  float: left;
  margin: 0 2px !important;
}
.region-header ul.menu li.collapsed, .region-header ul.menu li.expanded, .region-header ul.menu li.leaf {
  list-style-image: none;
  list-style-position: outside;
  padding-right: 10px;
}
.region-header ul.menu li a {
  border-bottom: 3px double #E1E1E1;
  display: block;
  height: 2em;
  line-height: 2em;
  padding: 0 8px;
  color: #000;
  font-size: .9em;
}
.region-header ul.menu li a:hover, .region-header ul.menu li a:focus {
  color: #8B9084;
}

.block .menu li.content {
  padding: 0;
}

.book-navigation .menu {
  margin-left: 0;
}

#breadcrumb-wrapper {
  margin-bottom: 2.5em;
}

#breadcrumb-wrapper .container {
  background: #FFC822;
  /* Old browsers */
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff6d9), color-stop(100%, #ffc61a));
  background: -webkit-linear-gradient(top, #fff6d9, #ffc61a);
  background: -moz-linear-gradient(top, #fff6d9, #ffc61a);
  background: -o-linear-gradient(top, #fff6d9, #ffc61a);
  background: -ms-linear-gradient(top, #fff6d9, #ffc61a);
  background: linear-gradient(top, #fff6d9, #ffc61a);
  border: 1px solid #FFC61A;
  height: 3em;
}

#breadcrumb {
  padding-top: .5em;
  padding-bottom: .5em;
}
#breadcrumb #breadcrumb {
  margin-left: 0px;
}
#breadcrumb .breadcrumb-label {
  font-size: 1em;
  display: inline;
  padding-right: 10px;
}
#breadcrumb .breadcrumb-label:after {
  content: ":";
}
#breadcrumb ol {
  margin: 0;
  padding: 0;
}
#breadcrumb .with-breadcrumb-label ol {
  display: inline;
}
#breadcrumb li {
  list-style: none;
  display: inline;
}
#breadcrumb a {
  color: #000000;
  font-weight: bold;
  font-size: .8em;
}

ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}

.item-list ul.pager li {
  margin: 0;
}

ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;
}
ul.pager li.pager-current {
  font-weight: 700;
}

.block ul.pager li {
  margin: 0;
}

#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;
}
#skip-link a {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
#skip-link a:link, #skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
#skip-link a:hover, #skip-link a:focus, #skip-link a:active {
  outline: 0;
}

#tasks {
  margin-bottom: 1em;
}

ul.primary {
  border-bottom-color: #ccc;
  margin: 1.5em 0 0;
  padding: 0 0 .2em .3em;
}
ul.primary li a {
  background-color: #f5f5f5;
  margin-right: .08em;
  border-color: #ccc;
  padding: .1em 10px .2em;
}

.local-tasks ul.primary li a:hover {
  background-color: #f7f7f7;
  border-color: #ddd;
}
.local-tasks ul.primary li.active a {
  background-color: #fff;
  border-bottom-color: #fff;
}

ul.secondary {
  border-bottom: 1px solid #ccc;
  margin: 1em 0 0;
  padding: 0 .3em 1em;
}
ul.secondary li {
  border-right: 0;
  list-style: none;
  padding: 0 10px 0 0;
}
ul.secondary li a:hover, ul.secondary li a.active {
  border-bottom: none;
  text-decoration: underline;
}

ul.action-links {
  margin-left: 0;
  margin-right: 0;
  list-style: none;
}

#admin-menu {
  margin: 0;
  padding: 0;
}
