@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url(http://themes.googleusercontent.com/static/fonts/oswald/v7/bH7276GfdCjMjApa_dkG6fY6323mHUZFJMgTvxaG2iE.eot);
  src: local("Oswald Bold"), local("Oswald-Bold"), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/bH7276GfdCjMjApa_dkG6fY6323mHUZFJMgTvxaG2iE.eot) format("embedded-opentype"), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/bH7276GfdCjMjApa_dkG6T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
  font-family: steelfish;
  src: url("steelfish/steelfish_bd.otf");
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url(http://themes.googleusercontent.com/static/fonts/oswald/v7/bH7276GfdCjMjApa_dkG6fY6323mHUZFJMgTvxaG2iE.eot);
  src: local("Oswald Bold"), local("Oswald-Bold"), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/bH7276GfdCjMjApa_dkG6fY6323mHUZFJMgTvxaG2iE.eot) format("embedded-opentype"), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/bH7276GfdCjMjApa_dkG6T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\0000389}}
html {
  line-height: 1.5;
  height: 100%;
  overflow-y: scroll;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003100}}
body {
  font-size: 1.3rem;
  margin: 0px;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003116}}
h1, h2, h3, h4, h5, h6,
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img,
em, dfn, del, ins,
a, tbody, tfoot, thead, tr,
ul, li,
label, legend,
figure, figcaption {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003133}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003147}}
img,
a img {
  border: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003152}}
p {
  margin: 0 0 1.5em;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003159}}
em,
dfn {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003164}}
ins {
  border-bottom: none;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003175}}
pre,
code,
tt,
samp,
kbd,
var {
  font-size: 1em;
  font-family: Consolas, "Lucida Console", Menlo, Monaco, "DejaVu Sans Mono", monospace, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003182}}
blockquote,
q {
  font-style: italic;
  quotes: "" "";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003185}}
blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003191}}
blockquote {
  margin: 0 0 1.5em;
  padding: 0 0 0 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003195}}
blockquote p {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003204}}
strong,
dfn,
caption,
th {
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003210}}
ul,
ol {
  margin: 0 0 1.5em 40px;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003218}}
.item-list ul, .item-list ol {
  margin: 0 0 0 15px;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003223}}
.item-list ul li {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003233}}
ul ul, .block ul ul, .item-list ul ul, ul ol, .block ul ol, .item-list ul ol, ol ul, .block ol ul, .item-list ol ul, ol ol, .block ol ol, .item-list ol ol {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003240}}
ul {
  list-style-type: disc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003243}}
ul ul ul {
  list-style-type: square;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003249}}
ol {
  list-style-type: decimal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003252}}
ol ol {
  list-style-type: lower-alpha;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003256}}
ol ol ol {
  list-style-type: lower-roman;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003263}}
ul ul {
  list-style-type: circle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003266}}
ul ul ul ul {
  list-style-type: circle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003272}}
dt {
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003277}}
dd {
  margin: 0 0 1.5em 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003290}}
img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003300}}
embed,
object,
video {
  max-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003310}}
.lt-ie9 img,
.lt-ie9 object,
.lt-ie9 embed,
.lt-ie9 video {
  max-width: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003323}}
#map img,
.gmap img,
.view-gmap img,
.openlayers-map img,
#getlocations_map_canvas img,
#locationmap_map img,
.geofieldMap img {
  max-width: none !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003329}}
svg:not(:root) {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003337}}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003345}}
audio:not([controls]) {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003358}}
header[role=banner],
.content-inner,
.nav,
.region-sidebar-first,
.region-sidebar-second,
.region-secondary-content,
.region-tertiary-content,
.region-footer {
  overflow: visible;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003365}}
.element-invisible {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003378}}
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static !important;
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003387}}
.offscreen {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003396}}
.element-hidden {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003403}}
.distinct-header h2.pane-title, .distinct-header h2.block-title {
  border-bottom: 1px solid #FFC344;
  position: relative;
  margin-bottom: 15px;
  font-weight: 400;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003408}}
.distinct-header h2.pane-title a, .distinct-header h2.block-title a {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003411}}
.distinct-header h2.pane-title:after, .distinct-header h2.block-title:after {
  background: none repeat scroll 0 0 #FFC344;
  bottom: -3px;
  content: " ";
  height: 6px;
  position: absolute;
  right: 0;
  width: 6px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003424}}
.minimal h3 {
  font-size: 1.2em;
  font-weight: 100;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003427}}
.minimal h3 a {
  color: #086782;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003430}}
.minimal h3 a:hover, .minimal h3 a:focus {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/peterlower\/Sites\/dru-multisite\/sites\/ovpr_common\/sass\/global\.base\.scss}line{font-family:\00003437}}
.sub {
  color: #3B3B3C;
  font-style: italic;
}
