/**
 * @file
 * Node Styling
 */
.node {
  margin-bottom: 20px;
}

.node-iowa-now-article .publication_source {
  color: #3B3B3C;
  font-style: italic;
}

.field-name-field-iowanow-thumbnail-image {
  float: left;
  margin: 0.5em 0.5em 0.5em 0;
}
