/**
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - There is an scss (SASS) version of this file in the /sass/ directory in your
 *   sub-theme, if you set Compass to watch it or the directory this file will be
 *   overwritten!
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
html {
  font-size: 112.5%;
  /* Increase the default font size on small devices */
}

#research-depts-nav #current-department-link {
  margin-bottom: 10px;
}

#depts-links-top {
  clear: both;
  float: none;
  width: 100%;
}
#depts-links-top li {
  width: 29.5%;
  display: block;
  margin: .5% 2%;
  text-align: center;
  float: left;
}
#depts-links-top li.first {
  border-left: 1px solid #FFC344;
}

.front #breadcrumb-wrapper .container {
  display: none;
}
