@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url(https://themes.googleusercontent.com/static/fonts/oswald/v7/bH7276GfdCjMjApa_dkG6fY6323mHUZFJMgTvxaG2iE.eot);
  src: local("Oswald Bold"), local("Oswald-Bold"), url(https://themes.googleusercontent.com/static/fonts/oswald/v7/bH7276GfdCjMjApa_dkG6fY6323mHUZFJMgTvxaG2iE.eot) format("embedded-opentype"), url(https://themes.googleusercontent.com/static/fonts/oswald/v7/bH7276GfdCjMjApa_dkG6T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

/**
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - There is an scss (SASS) version of this file in the /sass/ directory in your
 *   sub-theme, if you set Compass to watch it or the directory this file will be
 *   overwritten!
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
#name-and-slogan {
  float: left;
  margin-bottom: 10px;
  margin-top: 30px;
}

#research-depts-wrapper {
  display: none;
}

.view-id-featured_content .flexslider .slides img {
  width: 400px;
  float: left;
}
.view-id-featured_content .flexslider ul.slides li img {
  padding-right: 10px;
}
