
@import "base.scss";

/**
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete 
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *   
 * - There is an scss (SASS) version of this file in the /sass/ directory in your
 *   sub-theme, if you set Compass to watch it or the directory this file will be
 *   overwritten!
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

 #name-and-slogan {
  float: left;
  margin-bottom: 10px;
  margin-top: 30px;
}

#research-depts-nav {
  background: #3B3B3C;
  padding: 5px;
  clear: both;
  overflow: auto;
  width: 100%;
    a {
      color: #FFC344;
      font-size: 0.8em;
      font-weight: bold;
      vertical-align: middle;
    }
  #current-department-link {
    float: left;
    background-color: #FFC344;
    //height: 100%;
    padding: 0 4px;
    @include border-radius(5px);
    color: #000;
    margin-top: 2px;
  }
}

#research-link {
  float: left;
  margin-right: 10px;
  text-transform: uppercase; 
  margin-top: 2px;
}

#depts-links-top {
  margin: 0;
  float: right;
  a {
    height: 100%;
    padding: 0 4px;
    &:hover {
      color: #000;
      background-color: #FFC344;
      height: 100%;
      @include border-radius(5px);
    }
  }
  li {
    display: inline;
    margin: 0 5px;
    border-left: 1px solid #FFC344;
    padding-left: 10px;
    &.first {
      border-left: none;
    }
  }
}

#main-content {
  margin-left: 20px; 
}

// Featured content views
.flexslider {
  .slides img {
    width: 410px;
    float: left;
  }
}

.flexslider ul.slides li img {
    padding-right: 10px;
}